.priority {
    background-color: #ff8e8e;
}

.completed {
    background-color: #83d190;
}

input {
    margin-right: 1rem;
}

td a {
    text-decoration: none;
    color: black;
}

.inactive {
    color: lightgray;
}

.inactive:hover {
    color: #0FA0CE;
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

html {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7) 10%, rgba(72, 0, 100, 0.7) 90%) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    max-width: 800px;
    background-color: white;
    height: 100%;
    width: 100%;
}

@media (min-width: 800px) {
    #root {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}